registry "https://registry.npmjs.org/"
"@iconify:registry" "https://registry.npmjs.org/"
"@nuxt:registry" "https://registry.npmjs.org/"
"@nuxtjs:registry" "https://registry.npmjs.org/"
"@lottiefiles:registry" "https://registry.npmjs.org/"
